<h1>Editing receptionist</h1>

<%= render "form", receptionist: @receptionist %>

<br>

<div>
  <%= link_to "Show this receptionist", @receptionist %> |
  <%= link_to "Back to receptionists", receptionists_path %>
</div>
